<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <!--<ServerUrl>http://10.166.137.29/ScglUpdateService/AutoupdateService.xml</ServerUrl>-->
  <ServerUrl>http://10.166.137.29/ScglUpdateService/AutoupdateService.xml</ServerUrl>
  <!--<UpfileUrl>http://10.166.137.29/ScglUpdateService/UpFileHandler.ashx</UpfileUrl>-->

  <UpfileUrl>http://localhost:808/ScglUpdateService/UpFileHandler.ashx</UpfileUrl>
  <!--<UpfileUrl>http://192.168.254.130/ScglUpdateService/UpFileHandler.ashx</UpfileUrl>-->
  <!--<UpfileUrl>http://localhost/ScglUpdateService/UpFileHandler.ashx</UpfileUrl>-->
  <UpdateFileList>
    <LocalFile path="Ebada.SCGL.exe" lastver="1.0.0.0" size="454144" />
    <LocalFile path="Ebada.Scgl.Lpgl.dll"  lastver="1.0.0.0" size="132096" />
    <LocalFile path="Ebada.Scgl.WFlow.dll"  lastver="1.0.0.0" size="13824"  />
    <LocalFile path="Ebada.SCGL.WFlow.Test.dll"  lastver="1.0.0.0" size="36864" />
    <LocalFile path="Ebada.Scgl.Yxgl.dll"  lastver="1.0.0.0" size="660992"  />
  </UpdateFileList>
</Config>