<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties resource="./config/ibatis/data.config"/>

  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>

  <providers resource="./config/ibatis/providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="${provider}"/>
    <dataSource name="Ebada" connectionString="${connectionString}"/>
  </database>
  <sqlMaps>
   
    <sqlMap embedded="${Frame}E_ExamAnswerResult.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}E_Examination.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}E_ExaminationPaper.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}E_ExaminationPaperQuestion.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}E_ExaminationPaperQuestionRandom.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}E_ExamResult.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}E_ExamSetting.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}E_Professional.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}E_QBank.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}E_QuestionBank.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}E_R_EBankORG.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}E_R_EBankPro.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}E_R_ESetPro.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}E_User.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}mUser.xml,${FrameAssembly}"/>

    <sqlMap embedded="${Frame}E_BusinesInfo.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}E_Notice.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}E_PracticeRecord.xml,${FrameAssembly}"/>

    <sqlMap embedded="${Frame}E_Level.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}E_LevelSeason.xml,${FrameAssembly}"/>
    <sqlMap embedded="${Frame}E_LevelStop.xml,${FrameAssembly}"/>
    
    
  </sqlMaps>
</sqlMapConfig>