<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WebHttpBindingBehavior1">
          <serviceMetadata httpGetUrl="mex" httpGetEnabled="true"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebHttpBindingBehavior">
          <webHttp  />
        </behavior>
      </endpointBehaviors>
      
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding"  closeTimeout="00:01:00"  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"  useDefaultWebProxy="true" maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"></binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Ebada.Android.Service.AccountService">
        <endpoint address="xml" binding="webHttpBinding"  contract="Ebada.Android.Service.IAccountXmlService" behaviorConfiguration="WebHttpBindingBehavior"/><!--behaviorConfiguration="WebHttpBindingBehavior"-->
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding"  contract="Ebada.Android.Service.IAccountJsonService" behaviorConfiguration="WebHttpBindingBehavior"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:82/AccountService"/>
          </baseAddresses>
        </host>
      </service>
      <service name="Ebada.Android.Service.ScglService">
        <endpoint address="" binding="webHttpBinding"  contract="Ebada.Android.Service.IScglService" behaviorConfiguration="WebHttpBindingBehavior"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:83/ScglService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
