<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <!--<ServerUrl>http://localhost/ScglUpdateService/AutoupdateService.xml</ServerUrl>-->
  <ServerUrl>http://10.166.137.29/ScglUpdateService/AutoupdateService.xml</ServerUrl>

  <UpfileUrl>http://10.166.137.29/ScglUpFileService/UpFileHandler.ashx</UpfileUrl>
  <!--<UpfileUrl>http://192.168.254.130/ScglUpdateService/UpFileHandler.ashx</UpfileUrl>-->
  <!--<UpfileUrl>http://localhost/ScglUpdateService/UpFileHandler.ashx</UpfileUrl>-->
  <UpdateFileList>
    
  </UpdateFileList>
</Config>