<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <!--<ServerUrl>http://10.166.137.29/ScglUpdateService/AutoupdateService.xml</ServerUrl>-->
  <ServerUrl>http://192.168.1.105/ScglUpdateService/AutoupdateService.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="Ebada.SCGL.exe" lastver="0.9.1.0" size="1000" />
  </UpdateFileList>
</Config>