<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ebada.SCGL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ebada.SCGL.Properties.Settings>
            <setting name="RememberLoginName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginName" serializeAs="String">
                <value />
            </setting>
        </Ebada.SCGL.Properties.Settings>
    </userSettings>
  <appSettings>    
    <add key="jd" value="126.98" />
    <add key="wd" value="46.64944" />
    <add key="mapview" value="10000" />
    <add key="maptype" value="go" />
    <add key="showmapinfo" value="false" />
  </appSettings>
</configuration>