<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <!--   User application and configured property settings go here.-->
  <!--   Example: <add key="settingName" value="settingValue"/> -->
  <add key="provider" value="sqlServer2.0" />
  <add 
		key="connectionString" 
		value="server=192.168.10.28;database=ebadascgl;uid=sa;pwd=sa" />
  <!--Data Source=XD-WORK\SQL2005;Initial Catalog=DB_FTPA;User ID=sa;Password=***********-->
  <add key="root" value="" />
  <add key="Frame" value="Itop.Frame.Model.Maps." />
  <add key="FrameAssembly" value="Itop.Frame.Model" />
  <add key="assembly" value="Itop.Model" />
  <add key="customize" value="" />
</settings>
